.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: darkgray;
}

.cube {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.cube-1 {
  background-color: red;
  animation: left 1s infinite;
}

.cube-2 {
  background-color: yellow;
}

.cube-3 {
  background-color: green;
}

.cube-4 {
  background-color: white;
  animation: right 1s infinite;
}

@keyframes left {
  0% {
    transform: translateX(0);
  }

  50 % {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-40px);
  }
}

@keyframes right {
  0% {
    transform: translateX(0);
  }

  50 % {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(40px);
  }
}
