* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background-color: rgb(242, 240, 238);
}

html {
  height: 100%;
}

.start {
  background-image: linear-gradient(transparent 80%, rgb(242, 240, 238)),
    url(Koh\ Phi\ Phi\ Boot-min_Th_Icon.jpg);
  min-height: 48vh;
  min-width: 80vh;
  background-size: cover;
  background-position: center top;
  padding: 5% 5% 5% 5%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
}

h1 {
  font-family: "permanent marker";
  color: #ffcc00;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  margin: 5px;
}

h2 {
  font-family: "permanent marker";
  color: #727272;
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  margin: 0;
}

.einleitung {
  display: flex;
  justify-content: center;
  margin: 1px, 3px;
  padding: 3px, 3px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h3 {
  font-family: "permanent marker";
  color: #727272;
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  margin: 0;
}

.merch {
  display: flex;
  justify-content: center;
  margin: 1px, 3px;
  padding: 3px, 3px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/*Navigation*/

.list_container {
  background-color: #727272;
}

.nav {
  min-height: 10px;
  display: flex;
  justify-content: flex;
  align-items: center;
}

.nav-logo {
  background-image: url(thailanderleben.com);
  font-size: 10px;
  font-family: sans-serif;
  font-style: italic;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  width: 80%;
  height: 80%;
  padding: 10px;
  list-style-type: none;
  font-family: "poppins";
  font-weight: bold;
  background-color: #727272;
}

nav ul li a:hover {
  color: white;
}

nav ul li a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 14px;
}

.toggle-button {
  position: relative;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 23px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #ffcc00;
  border-radius: 100px;
}

.thailiebe {
  display: flex;
  justify-content: center;
  margin: 1px, 3px;
  padding: 3px, 3px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.socialMedia {
  display: flex;
  justify-content: center;
  color: black;
  background-color: #727272;
  margin: 1%;
  padding: 5px;
}

.nav-link {
  color: black;
}
.wisebanner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
}

.amexbanner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
}

.iframe-behaelter {
  padding-top: 56.25%;
  position: relative;
}

.iframe-behaelter iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.iframe-behaelter-behaelter {
  margin: 2.5% 20%;
}

.backlinks {
  margin: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  color: black;
}

.icon {
  color: white;
  font-size: 4vw 1.6em;
}
