* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(242, 240, 238);
}

.thai {
  font-size: x-large;
}
.start {
  background-image: linear-gradient(transparent 80%, rgb(242, 240, 238)),
    url(Koh\ Phi\ Phi\ Boot-min_Th_Icon.jpg);
  min-height: 48vh;
  min-width: 80vh;
  background-size: cover;
  background-position: center top;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
}

h1 {
  font-family: permanent marker;
  color: #ffcc00;
  text-align: center;
  font-size: 55px;
  font-weight: lighter;
  margin: 5px;
}

h2 {
  font-family: permanent marker;
  color: #727272;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  margin: 5px;
}

.folgemir {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 15px 100px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.amexbanner {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.ichliebethailand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 2px;
  box-sizing: border-box;
  width: 15%;
  position: relative;
  left: 42%;
  margin: 20px;
}

.reiseTool {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 15px 100px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.agodatxtlink {
  font-weight: bold;
  text-decoration-color: blue;
}

#adgshp-1109735696 {
  margin: 10px;
  width: 100%;
  position: relative;
  left: 22%;
}

.AgdBadge {
  position: relative;
  left: 45%;
  margin: 10px;
}
