div {
  width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 3px rgb(100, 100, 100);
}

h1 {
  text-shadow: lightblue 3px 5px 5px, -5px -2px purple;
  color: blue;
}
