.text-container {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  text-align: left;
  overflow-y: scroll;
}

h1 {
  color: blue;
  text-align: center;
  word-spacing: 10px;
}

h2 {
  text-decoration: wavy underline line-through overline green;
  color: blue;
}

p {
  text-indent: 25px;
  letter-spacing: 10px;
  line-height: 1.8;
  direction: ltr;
}
