body {
    --my-space: 10%;
    --my-space-nav-leiste: 30%;
    --my-space-right: calc(var(--my-space) + var(--my-space-nav-leiste));
}

.item {
    background-color: rgb(calc(3400 / 100), calc(25 * 5), 255);
    padding: 5px;
    text-align: center;
    margin-left: var(--my-space);
    margin-right: var(--my-space-right);
}

html {
    background-color: rgb(34, 34, 34);
}