.loader {
    display: block;
    position: relative;
    width: calc(var(--block-size) / 2);
    display: grid;
    place-items: center;
    color: black;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
}

.l1 {
    border: 1px dashed rgb(255, 255, 255, 1);
    border-radius: 50%;
    perspective: 200px;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(25deg);
}

.l1,
.l1::before,
.l1::after {
    animation: loader-anim 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.l1::before {
    --inner-size: 7px;
    width: var(--inner-size);
    aspect-ratio: 1/1;
    background: currentColor;
    border-radius: 50%;
    top: calc(50% - var(--inner-size) / 2);
    left: calc(50% - var(--inner-size) / 2);
}

.l1::after {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px dashed currentColor;
    animation-delay: 0.8s;
}

@keyframes loader-anim {
    0%,
    100% {
        transform: translateZ(calc(33px * -1)) scale(0.5);
    }
    55% {
        transform: translateZ(33px);
    }
}

.container {
    --block-size: 100px;
    display: grid;
    grid-template-columns: repeat(5, var(--block-size));
    grid-template-rows: repeat(5, var(--block-size));
    grid-gap: 10px;
}

.item {
    background-color: #ffbd59;
    border-radius: 5px;
    place-items: center;
    display: grid;
}

.container:hover .item {
    opacity: 0.3;
}

.container:hover .item:hover {
    opacity: 1;
}

html,
body {
    background-color: #727272;
}