#div1 {
    width: 50%;
    border-radius: 50px;
    border-style: solid;
    padding: 10px;
    box-shadow: 3px 3px 5px #727272;
}

body {
    background-color: white;
}

@media screen and (min-width: 500px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: green;
    }
}