#div1 {
    background-color: red;
    border-style: solid;
    border-width: 10px;
    border-color: #727272;
    width: 50%;
    top: 100px;
    overflow: auto;
}

#div2 {
    height: 500%;
    background-color: green;
    position: static;
    clear: left;
}

a:link,
a:visited {
    background-color: #727272;
    color: #ffbd59;
    padding: 5px 5px 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    height: 200px;
}

a:hover {
    background-color: green;
}