* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: blue;
}

.card-header {
  margin-bottom: 1em;
  padding: 5px;
  font-size: 30px;
  color: darkorange;
  background-color: aquamarine;
  display: flex;
  box-shadow: unset;
}

.card {
  padding: 1.5rem;
  background-color: chartreuse;
  color: rgb(62, 61, 62);
  border-radius: 0.5rem;
  border-style: solid;
}

.card-content {
  background-color: chartreuse;
}

.card1 {
  margin-top: 1em;
  border-radius: 1.5rem;
  border-color: black;
}

.card-header1 {
  background-color: beige;
}

.fa,
.fas,
.fab,
.far {
  color: blue;
}

.fa:hover,
.fas:hover,
.fab:hover,
.far:hover {
  color: black;
  font-size: xx-large;
  cursor: pointer;
}
