.button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1em 2em;
  cursor: pointer;
}

.einfacher-button {
  background-color: hsl(219, 90%, 44%);
  color: white;
  border: none;

  /* Optional für angerundete Ecken */
  border-radius: 0.5em;
}

.einfacher-button:hover {
  background-color: hsl(219, 90%, 30%);
}

.umrandungs-button {
  background-color: white;
  color: hsl(219, 90%, 30%);
  border: 2px solid hsl(219, 90%, 30%);
  border-radius: 0.5em;
}

.pillen-button {
  background-color: hsl(219, 90%, 44%);
  color: white;
  border-radius: 1.5em/50%;
  border: none;
}

.pillen-button:hover {
  background-color: hsl(219, 90%, 30%);
}

.umrandungs-button:hover {
  background-color: hsl(219, 90%, 30%);
  color: white;
}

.text-button {
  color: hsl(219, 90%, 30%);
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.text-button:hover {
  background-color: hsl(219, 95%, 97%);
}

.icon-button {
  background-color: hsl(219, 90%, 44%);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0.5em;
  line-height: 1;
  width: 2em;
}

.icon-button:hover {
  background-color: hsl(219, 90%, 30%);
}

/* Code zur Positionierung der Buttuns für das tutorial*/

body {
  margin: 0;
  font-family: sans-serif;
}

.button-behaelter {
  min-height: 100vh;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
