h1,
p,
ul,
span {
  border-style: dotted;
}

h1 {
  border-width: thick;
}

p {
  border-width: medium;
  border-color: blue;
}

ul {
  border-width: thin;
  border-color: green;
}

span {
  border-width: 3px;
  border-color: red;
}
