body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slideshow {
  width: 50vw;
  height: 50vh;
  box-shadow: 0px 0px 10px gray;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.slide-bild {
  width: 100%;
}
.slide-textbereich {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 0 15% 0 15%;
}
.slide-ueberschrift {
  font-size: 2em;
  margin: 10px 0;
}

.slide-beschreibung {
  font-size: 1.4em;
  margin: 0;
}

.pfeil {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  cursor: pointer;
}

.pfeil:hover {
  color: white;
}

.pfeil-links {
  left: 0;
}

.pfeil-rechts {
  right: 0;
}

.indikatorenliste {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.indikator {
  padding: 0 10px;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
}

.aktiv {
  opacity: 1;
}
